node_modules
.env
create_user
login

material_exercise
material_exercise_express
material_exercise_osa6-2_note_redux
material_exercise_osa6-1-6-3_redux_counter
material_exercise_osa6-3_query_notes
material_exercise_osa7
todo
